.info-with-lady {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-5);

	figcaption {
		display: contents;
		text-align: center;
		font-weight: var(--weight-light);

		em {
			font-size: 1.875rem;
		}
		p {
			line-height: 1.3;
			color: var(--color-font-gray);
		}
	}
}
