@import '/src/components/auth/auth-button.css';
@import '/src/components/info-with-lady/style.css';

.auth-button {
	--color: #333;
	--background-color: #ffe500;
	--border-radius: 6px;
	/* Box Model */
	width: 100%;
	height: 50px;
}

.start-page {
	/* padding-block-start: 70px;
	padding-block-end: 100px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 70px;
	align-items: center;
	width: 100%;
	height: 100vh;

	.start-page-links {
		padding-inline: 1.25rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--spacing-8);

		.auth-button {
			width: 100%;
			max-width: 800px;
		}

		.to-login {
			text-decoration: underline;
			font-size: var(--font-size-xs);
			color: var(--color-font-gray);
		}
	}
}
