@import '/src/global.css';

.erl-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 16px;
	border: 1px solid var(--color-border-gray);
	border-radius: 30px;
	background: var(--color-white);
	color: var(--color-font-gray);
	cursor: pointer;
	font-size: var(--font-size-xs);

	span {
		user-select: none;
	}
}

.erl-btn:active {
	background-color: var(--color-primary);
	border: currentColor;
	color: var(--color-white);
}
