@import '/src/components/avatar/style.css';

.author-profile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	width: 100%;

	> header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		> div {
			display: flex;
			flex-direction: column;
			gap: 7px;
			justify-content: center;

			> .author-name {
				font-size: var(--font-size-2xl);
				font-weight: var(--weight-medium);
			}

			> .author-title {
				font-size: var(--font-size-sm);
				color: var(--color-font-light-gray);
				
			}
		}
	}

	> .author-description {
		font-size: var(--font-size-sm);
		color: var(--color-font-gray);
		font-weight: var(--weight-light);
		line-height: 146%
	}
}
