<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>bookcard 컴포넌트</title>
		<link rel="icon" href="/vite.svg" />
		<link
			rel="preload"
			as="font"
			href="/font/woff2/PretendardVariable.woff2"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
		<link rel="stylesheet" href="/src/global.css" />
		<link rel="stylesheet" href="./style.css" />
	</head>
	<body>
		<div class="book-card">
			<picture class="book-image">
				<source srcset="/src/assets/bookcover-img/background.avif" type="image/avif" />
				<source srcset="/src/assets/bookcover-img/background.jpg" type="image/jpg" />
				<source srcset="/src/assets/bookcover-img/background.webp" type="image/webp" />
				<img src="/src/assets/bookcover-img/background.jpg" alt="책사진" />
			</picture>
			<div class="book-info">
				<cite class="book-title">강남 안에,<br />강북 남자</cite>
				<span class="book-author">눅눅한과자</span>
			</div>
			<span class="book-logo">brunch book</span>
		</div>
	</body>
</html>
