:root {
	--color-white: #fff;
	--color-font-gray: #959595;
}

.book-card {
	position: relative;
	width: 122.857px;
	height: 172px;
	background: url('./bookcover-img/Background.png') center/cover no-repeat;
	border-radius: 4px;
	overflow: hidden;

	.book-info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--color-white);
		width: 70px;
		height: 92px;
		padding: 10px 9px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		gap: 10px;
		box-sizing: border-box;

		.book-title {
			color: #333;
			font-size: 10.75px;
			font-style: normal;
			font-weight: 300;
			line-height: 13.821px;
			text-align: center;
		}

		.book-author {
			color: var(--color-font-gray);
			font-size: 7.679px;
			font-style: normal;
			font-weight: 300;
			line-height: 10.75px;
			text-align: center;
		}
	}
}
