<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style.css" />
  <title>button</title>
</head>

<body>
  <input type="checkbox" id="subscribe" class="sr-only"/>
  <label for="subscribe" class="sub-btn" role="button" tabindex="0">
    <span class="icon check-icon" aria-hidden="true">
      <!-- 체크 아이콘 -->
      <svg width="17" height="17" viewBox="0 0 24 24" fill="none">
        <path d="M20 6L9 17L4 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
    <span class="icon plus-icon" aria-hidden="true">
      <!-- 플러스 아이콘 -->
      <svg width="17" height="17" viewBox="0 0 24 24" fill="none">
        <path d="M12 5v14M5 12h14" stroke="#00C6BE" stroke-width="2" stroke-linecap="round" />
      </svg>
    </span>
    <span class="text"></span>
  </label>
  <hr />
</body>

</html>