:root {
	--color: var(--color-white);
	--background-color: var(--color-primary);
	--invalid-color: var(--color-white);
	--invalid-background-color: #aaa;
	--border-radius: 4px; /* 6px로 변경 가능성 있음 */
}

.auth-button {
	/* Box Model */
	width: 100%;
	height: 50px;
	/* Layout & Flex */
	display: flex;
	align-items: center;
	justify-content: center;
	gap: calc(var(--spacing-2) - 1px);
	/* Visual */
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--background-color);
	color: var(--color);
	/* Typography */
	font-size: var(--font-size-sm);
}

form:has(input:invalid, textarea:invalid) .auth-button {
	/* Miscellaneous */
	cursor: not-allowed;
	/* Visual */
	color: var(--invalid-color);
	background-color: var(--invalid-background-color);
}
